[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.dev-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev-icons svg {
  fill: var(--primary);
}

.animation-dev {
  width: 1.4rem;
  animation:  blink 2s infinite linear;
}

.pixel-animated {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}

.pixel-animated-fixed {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}

.pixel-right {
  padding-top: 10%;
  right: 200px;
  display: flex;
  justify-content: end;
  position: absolute;
}

.pixel-animated p, .pixel-fixed p {
  width: 200px;
  padding-top: 20%;
  position: absolute;
  margin: -35px -60px 0px 0px;
  display: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  text-align: center;
}

.pixel-animated:hover {
  animation-play-state: paused;
}

.pixel-animated:hover p, .pixel-fixed:hover p {
  display: flex;
  background: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.pixel-animated img:hover {
  animation-play-state: running;
}

.pixel-animated img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin-top: 0.8rem;
}

.pixel-animated-one {
  animation: animated-one 8s ease infinite;
}

.pixel-animated-two {
  animation: animated-two 8s ease infinite;
}

.pixel-animated-three {
  animation: animated-three 6s linear infinite;
}

.pixel-animated-four {
  animation: animated-four 5s ease-in-out infinite;
}

.pixel-animated-five {
  animation: animated-five 8s ease infinite;
}

.pixel-animated-six {
  animation: animated-six 8s ease infinite;
}

.pixel-animated-seven {
  animation: animated-seven 4s ease-in-out infinite;
}

.pixel-animated-eight {
  animation: animated-eight 5s ease-in-out infinite;
}

@media only screen and (min-width: 800px) {
  .pixel-animated img {
    width: 6rem;
    height: 6rem;
  }
}

@keyframes down {
  from{
    opacity: 0;
    margin-top: -150px;
  }
  to{
    opacity: 1;
    top: 0px;
  }
}

@keyframes opacity {
  from{
    opacity: 0;
    visibility: hidden;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  50% {
    opacity: 1;
    padding-top: 50px;
  }
  100% {
    opacity: 0;
    padding-top: 50px;
  }
}

@keyframes avatar-animation {
  0% {
    top: 0px;
  }
  
  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}


@keyframes animated-one {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(50px, 25px);
  }
  40% {
    transform: translate(-50px, 50px);
  }
  60% {
    transform: translate(100px, -25px);
  }
  80% {
    transform: translate(-25px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animated-two {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  75% {
    transform: translate(50px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animated-three {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animated-four {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(0, 100px);
  }
  75% {
    transform: translate(-100px, 50px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes animated-five {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(50px);
  }
  40% {
    transform: translateX(-50px);
  }
  60% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animated-six {
  0% {
    transform: translate(0px, 50px);
  }
  20% {
    transform: translate(50px, 25px);
  }
  40% {
    transform: translate(50px, -50px);
  }
  60% {
    transform: translate(-100px, 50px);
  }
  80% {
    transform: translate(-50px, 125px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}

@keyframes animated-seven {
  0% {
    transform: translate(100px, -25px);
  }
  50% {
    transform: translate(100px, 25px);
  }
  100% {
    transform: translate(100px, -25px);
  }
}

@keyframes animated-eight {
  0% {
    transform: translate(-50px, 0px);
  }
  25% {
    transform: translate(-25px, 50px);
  }
  50% {
    transform: translate(25px, 10px);
  }
  75% {
    transform: translate(10px, -25px);
  }
  100% {
    transform: translate(-50px, 0px);
  }
}