@keyframes down {
  from{
    opacity: 0;
    margin-top: -150px;
  }
  to{
    opacity: 1;
    top: 0px;
  }
}

@keyframes opacity {
  from{
    opacity: 0;
    visibility: hidden;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  50% {
    opacity: 1;
    padding-top: 50px;
  }
  100% {
    opacity: 0;
    padding-top: 50px;
  }
}