*,
section,
p,
body,
span {
  margin: 0;
  padding: 0;
  font-family: "SpaceMono-Regular";
}

/* cores */
:root {
  --black-jedi: #000000;
  --gray-jedi: #1f1f1f;
  --white-jedi: #f8f9fa;
  --gray-light: #f4f4f4;
  --master-jedi: #44ee69;
  --master-jedi-darker: #39c958;
  --input-background: #f0f0f0;
}
/* -------------------------- */

/* Fonts */
@font-face {
  src: url("../fonts/Chakra_petch/ChakraPetch-Regular.ttf");
  font-family: "Chakra-Regular";
  font-weight: normal;
}
/* -------------------------- */

h1 {
  font-size: 35px;
}

a {
  text-decoration: none;
}
