*,
section,
p,
body,
span {
  margin: 0;
  padding: 0;
  font-family: "Chakra-Regular";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: var(--white);
  font-size: 2rem;
}


h3 {
  color: var(--white);
  font-size: 1.4rem;
}
/* cores */
:root {
  --white: #f0f0f0;
  --black: #121414;
  --green: #44ee69;
  --green-dark: #3DD150;
  --black-dark: #0D0F0D;
}
/* -------------------------- */

/* Fonts */
@font-face {
  src: url("../fonts/Chakra_petch/ChakraPetch-Regular.ttf");
  font-family: "Chakra-Regular";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Chakra_petch/ChakraPetch-Bold.ttf");
  font-family: "Chakra-Bold";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Chakra_petch/ChakraPetch-Medium.ttf");
  font-family: "Chakra-Semibold";
  font-weight: normal;
}
/* -------------------------- */