#header {
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  z-index: 1000;
}

#logo .logo {
  width: 44px;
  margin-top: 5px;
  transition: 0.5s;
}

#logo .logo:hover {
  transform: scale(1.1);
}

#menu {
  display: flex;
  gap: 1rem;
}

#menu a {
  display: block;
  font-size: 0.8rem;
  /* font-family: "Chakra-Bold"; */
  font-family: "PressStart-Regular";
  
  color: var(--text);
  filter: brightness(0.8);
  transition: .3s;
}

#menu a:hover {
  color: var(--primary);
  filter: brightness(1);
}

#btn-menu {
  display: none;
}


@media (max-width: 870px){
  ::-webkit-scrollbar {
    display: none;
  }

  #header {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: var(--background);
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu a {
    text-align: center;
    padding: 2rem 0rem;
    margin: 1rem 0rem;
  }

  #nav.ativo #menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
  }

  #btn-menu {
    display: flex;
    padding: 0.5rem 1rem;
    color: var(--text);
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    transition: 0.3s;
    width: 20px;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.ativo #hamburguer {
    border-top: transparent;
  }

  #nav.ativo #hamburguer::after {
    transform: rotate(135deg);
    top: -7px;
  }

  #nav.ativo #hamburguer::before {
    transform: rotate(-135deg);
  }
  
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}
   
::-webkit-scrollbar-thumb {
  background: var(--primary);
  /* border-radius: 20px; */
}