#header {
  box-sizing: border-box;
  height: 50px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  border-bottom: 1px solid #44ee69;
}

#logo img {
  transition: 1s;
}

#logo img:hover {
  transform: scale(1.05);
}

#menu {
  display: flex;
  gap: .5rem;
}

#menu a {
  color: var(--white);
  font-size: 12px;
  display: block;
}

#menu a:hover {
  color: white;
}

#btn-menu {
  display: none;
}


@media (max-width: 500px){
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0px;
    background: var(--black);
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu a {
    padding: 1rem 0rem;
    margin: 0rem 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #nav.ativo #menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
  }

  #btn-menu {
    display: flex;
    padding: 0.5rem 1rem;
    color: var(--white);
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    transition: 0.3s;
    width: 20px;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.ativo #hamburguer {
    border-top: transparent;
  }

  #nav.ativo #hamburguer::after {
    transform: rotate(135deg);
    top: -7px;
  }

  #nav.ativo #hamburguer::before {
    transform: rotate(-135deg);
  }
  
}
