/* Barra de navegação */
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

nav .navbar-items {
  display: flex;
}

ul {
  list-style: none;
}

nav .logo-name {
  margin-left: 20px;
}

nav .nav-link {
  font-size: 18px;
  text-decoration: none;
  color: var(--gray-jedi);
  margin-right: 20px;
}

nav .nav-link:hover {
  color: var(--black-jedi);
  border-bottom: 3px solid var(--black-jedi);
}
/* -------------------------- */
