section {
  width: 100%;
  box-sizing: border-box;
}

/* .container-home {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--black);
}


.home-apresentation-text {
  display: flex;
  flex-direction: column;
  animation: down 3s ease;
  opacity: 0;
  animation-fill-mode: forwards;
} */

/* @keyframes down {
  from{
    opacity: 0;
    margin-top: -150px;
  }
  to{
    opacity: 1;
    top: 0px;
  }
} */

/* .home-apresentation-text  h1{
  color: var(--white);
  font-size: 3rem;
}

.home-apresentation-text  h1 span{
  color: var(--green);
  font-size: 3rem;
}

.home-apresentation-text  span {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 1.8rem;
} */

/* @keyframes opacity {
  from{
    opacity: 0;
    visibility: hidden;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
} */

/* .home-apresentation .github-button {
  color: var(--green);
  background: var(--black);
  position: relative;
  margin-top: 1.6rem;
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: 'Chakra-Semibold';
  visibility: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
  animation: opacity 1s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

.home-apresentation .github-button:hover {
  color: var(--black);
  background: var(--green);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.github-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--green);
  border-left: 2px solid var(--green);
  transition: 0.5s;
}

.github-button:hover:before {
  width: 100%;
  height: 100%;
}

.github-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--green);
  border-right: 2px solid var(--green);
  transition: 0.5s;
}

.github-button:hover:after {
  width: 100%;
  height: 100%;
}

.logo-line{
  height: 15rem;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
} */

/* @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

/* sobre mim */
/* #sobre-mim {
  background: var(--black-dark);
}

.container-sobre-mim {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-sobre-mim h2 {
  text-align: right;
  margin-bottom: 2rem;
}

.container-sobre-mim .container-images{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.container-sobre-mim .container-images img {
  width: 18rem;
}

.avatar {
  position: relative;
  animation: avatar-animation 4s forwards infinite;
}

/* @keyframes avatar-animation {
  0% {
    top: 0px;
  }
  
  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
} */

/* .container-sobre-mim .container-description {
  width: 475px;
  color: var(--white);
  padding: 2rem;
  margin: .5rem;
} */

/* .animation-dev {
  width: 2rem;
  padding: 0rem 0.4rem;
  animation:  blink 2s infinite linear;
} */

/* @keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
} */

.container-sobre-mim .container-description, li{
  font-size: 1.2rem;
  line-height: 2rem;
}

.container-sobre-mim .container-description li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: var(--green);
} */

/* conhecimentos */
#conhecimentos {
  background: var(--black);
}

.container-conhecimentos  {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container-conhecimentos h2 {
  padding: 1rem;
}

.container-conhecimentos .container-cards {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--black-dark);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.card .card-title {
  color: var(--green);
  margin-top: 1rem;
  text-align: center;
}

.card .cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .card-item {
  width: 100px;
  height: 100px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: var(--black-dark);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-item h4 {
  margin-top: 1rem;
  color: var(--green);
  opacity: 0;
}

.card-item:hover h4{
  opacity: 1;
}

/* projetos */
#projetos {
  background: var(--black-dark);
}

.container-projetos {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}

.container-projetos h2 {
  padding: 1rem;
  text-align: right;
}

.container-projetos .container-projetos-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
  margin: 1rem;
  background: var(--black);
  border-radius: .5rem;
}

.project-card-details {
  height: 250px;
  width: 350px;
  padding: 0 .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.project-card-details h3 {
  font-size: 1.8rem;
}

.project-card-details h3::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: var(--green);
}

.project-card-details p{
  color: var(--white);
  text-align: left;
}

.project-card-details a {
  width: 10rem;
  height: 2.8rem;
  color: var(--green);

  font-weight: 600;
  font-size: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  border: 2px solid var(--green);

  transition: .3s;
}

.project-card-details a:hover {
  color: var(--black);
  background: var(--green);
}

.project-card-details .project-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}

.project-card-details .project-icons img {
  width: 1.8rem;
}

.project-card .project-interface {
  width: 350px;
  height: 250px;
  border-radius: .5rem;
}

/* contato */
#contato {
  background: var(--black);
}

.container-contato {
  box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
}

.containter-contato-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containter-contato-content  .container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containter-contato-content .card-mensagem {
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  background: var(--black-dark);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to right, 
    var(--green), 
    var(--black-dark)
  ) 10 1%;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
}

.containter-contato-content .card-mensagem p {
  font-size: 1rem;
  color: var(--white);
}

.containter-contato-content .card-mensagem .subtitle {
  font-family: "Chakra-Bold";
  padding: 0.6rem;
}

.card-mensagem .mandalorian {
  width: 3.4rem;
}

.card-contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  background: var(--black-dark);
  border-width: 1px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to left, 
    var(--green), 
    var(--black-dark)
  ) 70 1%;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
}

.card-contact .btn-submit {
  width: 8rem;
  height: 3rem;
  color: var(--white);
  background: var(--black-dark);
  font-family: "Chakra-Bold";
  border: 2px solid var(--green);
  border-radius: 6px;
  margin-top: 8px;
  transition: 0.3 s;
  cursor: pointer;
}

.card-contact .btn-submit:hover {
  color: var(--green);
  border-color: var(--green);
}

.card-contact label {
  color: var(--white);
  font-size: 1.4rem;
  font-family: "Chakra-Semibold";
  margin: 8px 0px;
}

.card-contact label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: var(--green);
}

.card-contact textarea, input {
  border: none;
  max-width: 540px;
  padding: 0.6rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 4px;
  background: var(--white);
}

.icons-contact {
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
}

.icons-contact a {
  display: inline-block;
}

.icons-contact img {
  width: 3rem;
  padding: .5rem;
  margin: 5px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.icons-contact img:hover {
  background: rgba(0, 0, 0, 0.9);
}

footer {
  text-align: center;
  border-top: 1px solid var(--green-dark);
  padding: 15px 0px;
  font-size: 1.4rem;
}

footer p {
  color: var(--white);
}

footer p img {
  width: 1.2rem;
  margin-bottom: -3px;
  padding: 4px 4px 0px 4px;
}

footer p span {
  color: var(--green);
}

@media screen and (max-width: 850px) {
  /* home */
  .container-home {
    flex-direction: column-reverse;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem 1rem;
  }

  .container-home h1 {
    font-size: 2.6rem;
  }

  .container-home h1 span {
    font-size: 2.6rem;
  }

  .container-home .logo-line{
    height: 125px;
    margin-top: 100px;
    margin-bottom: 75px;
  }

  .home-apresentation-text span {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .home-apresentation .github-button {
    width: 100%;
  }

  /* sobre mim */
  .container-sobre-mim {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }

  .container-sobre-mim .container-description {
    max-width: 500px;
  }

  /* conhecimentos */
  .container-conhecimentos  .container-cards{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* projects */
  .project-card {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .project-card:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .project-card .project-card-details {
    margin: 1rem;
  }


  
  /* contato */  
  .container-contato .containter-contato-content .container-form{
    flex-direction: column;
  }

  .container-contato .containter-contato-content .container-form .card-mensagem {
    width: 24rem;
    margin: 20px 0px;
  }

}

@media screen and (max-width: 640px) {
  /* sobre mim */
  .container-sobre-mim .container-description {
    max-width: 350px;
  }

  .container-sobre-mim .container-images img {
    padding: 30px 0;
    max-width: 14rem;
  }

  /* projects */
  .project-card {
    width: 300px;
    padding: 1rem;
  }

  .project-card .project-card-details {
    width: 250px;
  }

  .project-card .project-interface {
    width: 250px;
    height: 200px;
  }

  /* contato */
  .card-contact {
    max-width: 28rem;
  }

  .card-contact .btn-submit {
    width: 100%;
  }

  .icons-contact {
    padding: 1rem;
  }

  .icons-contact img {
    width: 2rem;
  }
  
}


@media screen and (max-width: 490px) {
  /* contato */
  .card-contact {
    max-width: 22rem;
  }
}

@media screen and (max-width: 420px) {

  /* h2 {
    font-size: 1.8rem !important;
  } */

  .animation-dev {
    width: 1.8rem;
  }

  /* home */
  .home-apresentation-text span {
    font-size: 1rem;
  }
  
  /* sobre mim */
  .container-sobre-mim .container-images {
    padding: 50px 0px;
  }

  .container-sobre-mim .container-images img {
    width: 10rem;
  }

  .container-sobre-mim .container-description {
    font-size: 1rem;
    max-width: 240px;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  /* conhecimentos */
  .container-conhecimentos .container-cards {
    padding: 2rem;
  }

  /* projects */
  .project-card {
    width: 225px;
    padding: 1rem;
  }

  .project-card .project-card-details {
    width: 200px;
  }

  .project-card .project-interface {
    width: 200px;
    height: 150px;
  }

  /* contato */
  .card-contact {
    max-width: 20rem;
  }

  .container-contato .containter-contato-content .container-form .card-mensagem {
    width: 15rem;
  }

  .card-contact {
    width: 15rem;
  }

  footer {
    font-size: 0.87rem;
  }
}

/* Animações */

[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
  transform: translate3d(0, 100px, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -100px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}