*,
section,
p,
body,
span {
  margin: 0;
  padding: 0;
  font-family: "SpaceMono-Regular";
}

/* cores */
:root {
  --black-jedi: #000000;
  --gray-jedi: #1f1f1f;
  --white-jedi: #f8f9fa;
  --gray-light: #f4f4f4;
}
/* -------------------------- */

/* Fonts */
@font-face {
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-family: "SpaceMono-Regular";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
  font-family: "UbuntuMono-Regular";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf");
  font-family: "UbuntuMono-Bold";
  font-weight: normal;
}
/* -------------------------- */

/* Section: home */
section .container-home {
  width: 98vw;
  height: 100vh;
  background-image: url("../images/background_black.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: var(--white-jedi);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .container-home .container-home-text {
  min-width: 350px;
  max-width: 450px;
}

section .container-home-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

section .container-home-text p {
  font-size: 22px;
}

section .container-home-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  height: 65px;
  width: 200px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white-jedi);
  background-color: var(--gray-jedi);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

section .container-home-text a:hover {
  background-color: var(--black-jedi);
  transform: scale(1.05);
}

section .container-home .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

section .container-home .title-name {
  font-family: "UbuntuMono-Bold";
  font-size: 45px;
}

section .container-home .title img {
  width: 100px;
  height: 100px;
  margin-top: -40px;
}

section .container-home .container-home-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container-home .container-home-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 200px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
/* ------------------------------------------ */

/* Section: sobre mim */
section .container-sobre_mim {
  width: 98vw;
  height: 100vh;
  background-image: url("../images/background_black_reverse.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: var(--white-jedi);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container-sobre_mim .gustavo_force_storm {
  margin-left: 5%;
  margin-top: 5%;
  width: 450px;
}

section .container-sobre_mim-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  margin-right: 10%;
}

section .title-sobre_mim {
  display: flex;
}

section .title-sobre_mim h1 {
  font-size: 35px;
}

section .title-sobre_mim .sabre_negro {
  width: 50px;
  height: 50px;
}
/* ------------------------------------------ */

/* Section: sobre mim */
section .container-conhecimentos {
  width: 98vw;
  height: 100vh;
  background-image: url("../images/background_black_2.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: var(--white-jedi);

  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
  flex-wrap: wrap;
}

section .title-conhecimentos {
  display: flex;
  margin-left: 50px;
}

section .title-conhecimentos .sabre_mestre_jedi {
  width: 50px;
  height: 50px;
}

section .title-conhecimentos h1 {
  font-size: 35px;
}

section .skills {
  display: flex;
  justify-content: left;
  max-width: 800px;
  flex-wrap: wrap;
  margin-left: 100px;
}

section article .skill-card {
  width: 200px;
  height: 225px;
  border-radius: 8px;
  background-color: var(--gray-light);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px 20px;
  transition: 1s;
}

section article .skill-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

section article .skill-card .experience {
  text-align: center;
  font-size: 15px;
}
/* ------------------------------------------ */

/* Section: sobre mim */
section .container-projetos {
  width: 98vw;
  height: 100vh;
  background-image: url("../images/background_black_reverse_2.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: var(--white-jedi);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

section .projects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
}

section .title-projetos {
  display: flex;
  margin-right: 50px;
}

section .title-projetos h1 {
  font-size: 35px;
}

section article .project-card {
  width: 300px;
  height: 210px;
  border-radius: 8px;
  background-color: var(--gray-light);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 20px;
  transition: 1s;
}

section article .project-description {
  text-align: center;
  padding: 0px 30px;
}
/* ------------------------------------------ */
