/* Section: home */
section .container-home {
  width: 100vw;
  height: 100vh;
  /* background-image: url("../images/background_black.png");
  background-repeat: no-repeat;
  background-position-x: right; */
  background-color: var(--white-jedi);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .container-home .container-home-text {
  width: 450px;
}

section .container-home-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

section .container-home-text p {
  font-size: 22px;
}

section .container-home-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  height: 65px;
  width: 200px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  color: var(--white-jedi);
  background-color: var(--gray-jedi);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

section .container-home-text a:hover {
  background-color: var(--black-jedi);
  transform: scale(1.05);
}

section .container-home .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

section .container-home .title-name {
  font-family: "UbuntuMono-Bold";
  font-size: 45px;
}

section .container-home .title img {
  width: 100px;
  height: 100px;
  margin-top: -40px;
}

section .container-home .container-home-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .container-home .container-home-image .my-skin {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* margin-left: 200px; */
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

section .container-home .icons-my-skin img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
/* ------------------------------------------ */

/* Section: sobre mim */
section .container-sobre_mim {
  background-image: url("../images/background-sobre_mim.png");
  background-color: var(--gray-jedi);
  background-blend-mode: overlay;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container-sobre_mim .meu-avatar {
  margin-left: 10%;
  margin-top: 5%;
  width: 400px;
  padding: 100px 0px;
}

section .container-sobre_mim-text {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
  color: var(--white-jedi);
}

section .title-sobre_mim {
  display: flex;
}

section .title-sobre_mim .sabre_negro {
  width: 50px;
  height: 50px;
}
/* ------------------------------------------ */

/* Section: Conhecimentos */
section .container-conhecimentos {
  background-image: url("../images/background_conhecimentos.png");
  background-color: var(--white-jedi);

  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
  flex-wrap: wrap;
}

section .title-conhecimentos {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}

section .sabre_mestre_jedi {
  width: 50px;
  height: 50px;
}

section .skills {
  display: flex;
  justify-content: left;
  max-width: 800px;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-bottom: 50px;
}

section article .skill-card {
  width: 200px;
  height: 225px;
  border-radius: 8px;
  background-color: var(--gray-light);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px 20px;
  transition: 1s;
}

section article .skill-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

section article .skill-card .experience {
  text-align: center;
  font-size: 15px;
}
/* ------------------------------------------ */

/* Section: Projetos */
section .container-projetos {
  background-image: url("../images/background_projetos.png");
  background-color: var(--gray-jedi);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

section .projects {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-bottom: 50px;
}

section .title-projetos {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  /* margin-bottom: 50px; */
  color: var(--white-jedi);
}

section article .project-card {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  background-color: var(--gray-light);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 15px;
  transition: 1s;
}

section article .project-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

section article .buttons {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

section article .button-project {
  height: 50px;
  width: 110px;
  background-color: var(--black-jedi);
  color: var(--white-jedi);
  border-radius: 8px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
  transition: 0.2s;
}

section article .button-project:hover {
  opacity: 1;
}

.github-icon {
  margin: 5px;
}

section article h3 {
  font-size: 24px;
}

section article .project-description {
  text-align: center;
  padding: 0px 30px;
  font-size: 18px;
}

/* ------------------------------------------ */

/* Section: Contato */
section .container-contato {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section .title-contato {
  display: flex;
  margin-top: 25px;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0px;
}

section form .card-agradecimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 275px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--gray-jedi);
  color: var(--white-jedi);
}

section form .card-agradecimentos .mandalorian {
  width: 90px;
}

section form .card-agradecimentos .subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

section form .card-agradecimentos .texto-agradecimentos {
  padding: 0px 15px;
}

section form .card-contact {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

section form .card-contact label {
  font-size: 20px;
  padding: 5px;
}

section form .card-contact input {
  width: 95%;
  height: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  border: none;
  border-radius: 6px;
  background-color: var(--input-background);
}

section form .card-contact textarea {
  width: 95%;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  border: none;
  border-radius: 6px;
  background-color: var(--input-background);
}

section form .card-contact .btn-submit {
  width: 100px;
  padding-left: 0px;
  font-weight: bold;
  color: #fff;
  background-color: var(--master-jedi);
  transition: 1s;
}

section form .card-contact .btn-submit:hover {
  background-color: var(--master-jedi-darker);
}

.icons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.icons a {
  margin: 0px 10px;
}

footer {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--white-jedi);
  background-color: var(--gray-jedi);
  font-size: 18px;
}

footer .footer-icon {
  width: 35px;
  margin-bottom: -10px;
}

footer .heart {
  width: 50px;
  margin-bottom: -20px;
}
/* ------------------------------------------ */

/* Responsividade */

@media (max-width: 1020px) {
  /* Section: Home */
  section .container-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  section .container-home .container-home-image .my-skin {
    margin-top: 100px;
    width: 200px;
    height: 200px;
  }

  section .container-home-text a {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Section: Sobre mim */
  section .container-sobre_mim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  section .container-sobre_mim .meu-avatar {
    margin-left: 0px;
  }

  section .container-sobre_mim .container-sobre_mim-text {
    margin-right: 0px;
    width: 90%;
  }

  section .container-sobre_mim p {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.1);
    border-radius: 8px;
  }

  section .container-sobre_mim .hobbies {
    margin-bottom: 75px;
  }

  /* Section: Conhecimentos */
  section .container-conhecimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section .container-conhecimentos h1 {
    margin-bottom: 35px;
  }

  section .container-conhecimentos .skills {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 0;
  }

  section .container-conhecimentos .skills .skill-card {
    width: 300px;
    height: 300px;
  }

  section .container-conhecimentos .skills .skill-card img {
    width: 50px;
  }

  section .container-conhecimentos .skills .skill-card .icone {
    width: 75px;
  }

  section .container-conhecimentos .skills .skill-card h3 {
    font-size: 25px;
  }

  section .container-conhecimentos .skills .skill-card p {
    font-size: 18px;
  }

  /* Section: Projetos */
  section .container-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: none;
    background-image: url("../images/background_projetos_min.png");
  }

  section .container-projetos .title-projetos {
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: var(--white-jedi);
    background-color: rgba(17, 17, 17, 0.575);
    border-radius: 8px;
  }

  section .container-projetos .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .container-projetos .project-card {
    height: 250px;
  }
}

@media (max-width: 920px) {
  section .container-sobre_mim {
    background-blend-mode: overlay !important;
  }

  section .container-contato .title-contato {
    margin-top: 25px;
  }

  section .container-contato .card-agradecimentos {
    position: fixed;
    width: 450px;
    height: 180px;
    margin-top: -400px;
    margin-left: 55px;
  }

  section form {
    padding-top: 250px;
  }

  section form .card-agradecimentos {
    padding: 10px;
    box-shadow: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/* 800px */
@media (max-width: 800px) {
  /* Section: Conhecimentos */
  section .container-conhecimentos .skills {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }

  section .container-conhecimentos .title-conhecimentos {
    margin-left: 0px;
  }

  section .container-conhecimentos .skills .skill-card {
    width: 500px;
  }

  /* Section: Projetos */
  section .container-projetos .projects {
    display: flex;
    flex-direction: column;
  }

  section .container-projetos .projects .project-card {
    width: 500px;
  }
}

/* 650px */
@media (max-width: 650px) {
  section .container-contato {
    width: 100%;
  }

  section .container-contato form {
    width: 90%;
  }

  section .container-contato form article .card-agradecimentos {
    width: 175px;
    margin-left: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .container-contato .card-agradecimentos .texto-agradecimentos {
    display: none;
  }
}

/* 550px */
@media (max-width: 550px) {
  /* Section: Conhecimentos */
  section .container-conhecimentos .skills .skill-card {
    width: 90%;
  }

  /* Section: Projetos */
  section .container-projetos .projects .project-card {
    width: 90%;
  }
}

/* Section: 480px */
@media (max-width: 480px) {
  section {
    width: 100%;
  }

  /* Section: Home */
  section .container-home .container-home-text {
    width: 90%;
  }

  section .container-home .container-home-text p {
    font-size: 19px;
  }

  section .container-home .container-home-text .title-name {
    font-size: 30px;
  }

  section .container-home .container-home-text .title img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  /* Section: Contato */
  section .container-contato footer {
    margin-bottom: 25px;
  }

  @media (max-width: 375px) {
    /* Section: Contato */
  }

  /* Section: Sobre mim */
  section .container-sobre_mim {
    background-blend-mode: overlay !important;
  }

  section .container-sobre_mim .meu-avatar {
    width: 300px;
  }

  /* Section: Contato */
  section .container-contato form article .card-agradecimentos {
    margin-left: 25px;
    width: 265px;
  }

  section .container-contato footer p {
    font-size: 16px;
    text-align: center;
  }
}

/* 360px */
@media (max-width: 360px) {
  h1 {
    font-size: 28px !important;
  }

  section .container-home .container-home-image .my-skin {
    width: 175px;
    height: 175px;
  }

  /* Section: Home */
  section .container-home .container-home-text {
    width: 310px;
    margin-top: 25px;
  }

  section .container-home .container-home-text p {
    font-size: 19px;
  }

  section .container-home .container-home-text .title-name {
    font-size: 30px;
  }

  section .container-home .container-home-text .title img {
    margin-top: -50px;
  }

  section .container-home .container-home-text .button-github {
    margin-bottom: 50px;
  }

  /* Section: Sobre mim */
  section .container-sobre_mim {
    background-image: none;
    background-image: url("../images/background_projetos_min.png");
    background-blend-mode: overlay !important;
  }

  section .container-sobre_mim .meu-avatar {
    width: 300px;
    padding: 30px;
  }

  /* Section: Conhecimentos */
  section .container-conhecimentos .skill-card {
    width: 250px !important;
  }

  section .container-conhecimentos .skill-card .icone {
    width: 60px !important;
  }

  section .container-conhecimentos .skill-card img {
    width: 40px !important;
  }

  /* Section: Contato */
  section .container-contato form article .card-agradecimentos {
    margin-left: 0px;
    width: 300px;
  }

  section .container-contato .icons img {
    width: 30px;
  }

  section .container-contato footer p {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 28px !important;
  }

  /* Section: Home */
  section .container-home .container-home-image .my-skin {
    width: 150px;
    height: 150px;
  }

  section .container-home .container-home-text {
    width: 300px;
  }

  section .container-home .container-home-text p {
    font-size: 18px;
  }

  section .container-home .container-home-text .title-name {
    font-size: 28px;
  }

  section .container-home .container-home-text .title img {
    margin-top: -50px;
  }

  /* Section: sobre mim */
  section .container-sobre_mim .meu-avatar {
    width: 175px;
    height: 175px;
  }

  section .container-sobre_mim p {
    font-size: 16px;
  }

  /* Section: Contato */
  section .container-contato form article .card-agradecimentos {
    margin-left: 0px;
    width: 268px;
  }
}

/* ------------------------------------------ */

/* Animação */
.js-scroll {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: 0.5s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.toTop.ativo {
  opacity: 1;
}
.toTop {
  transition: 0.5s;
  opacity: 0;
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 3%;
  right: 3%;

  border-radius: 8px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("../images/icons/pixels/millennium_falcon.png");
  z-index: 2;
}

.toTop:hover {
  background-image: url("../images/icons/pixels/animated/millennium_falcon.gif");
}
