* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 50px;
  font-size: 25px;
  color: #84e;
}

.jedi {
  width: 200px;
}

section {
  width: 400px;
}

.info {
  text-align: center;
}

.intro-footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #84e;
}

a:hover {
  color: rgb(107, 22, 236);
}

@media (max-width: 700px) {
  header {
    width: 400px;
    text-align: center;
  }

  header h1 {
    margin-top: -20px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  section p {
    font-size: 12px;
  }

  section img {
    width: 200px;
  }

  .intro-footer {
    text-align: center;
    width: 300px;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #84e;
  }

  footer a {
    font-size: 12px;
    color: #fff;
  }

  .mandalorian {
    width: 50px;
  }
}
