.container-home {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--background);
  gap: 2rem;
  overflow: hidden;
}

.home-text {
  max-width: 50rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 1.6rem;
  color: var(--text);
  opacity: 0;
  animation: down 3s ease;
  animation-fill-mode: forwards;
  font-size: 0.7rem;
  padding: 0rem 1rem;
  margin-top: 5rem;
  /* z-index: 2; */
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}

.home-text h1 {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--text);
}

.home-text h1 span {
  font-size: 2rem;
  color: var(--primary)
}

.text-with-pixel {
  display: flex;
  align-items: end;
}

.text-with-pixel img {
  width: 5rem;
  height: 5rem;
  margin-bottom: -1rem;
}

.curriculum-button {
  display: flex;
  justify-content: center;
  border: 2px solid;
  border-image: linear-gradient( to right, var(--primary), transparent ) 1%;
  transition: all .8s linear;
}

.curriculum-button:hover {
  border: 2px solid;
  border-image: linear-gradient( to left, var(--primary), transparent ) 1%;
}

.curriculum-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: var(--text);
  gap: 0.8rem;
}

.curriculum-button a:hover {
  cursor: pointer;
}

.curriculum-button img {
  width: 2rem;
}

.arrow-animation {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-animation svg{
  position: absolute;
  animation: arrow 3s ease infinite;
  fill: var(--primary);
}

@media only screen and (min-width: 800px) {
  .container-home {
    height: calc(100vh - 50px);
  }

  .home-text {
    line-height: 2rem;
    font-size: 0.8rem;
    padding: 0rem 1rem;
    margin-top: 0;
  }

  .home-text h1 {
    font-size: 2.4rem;
    line-height: 5rem;
  }
  
}