
/* conhecimentos */
/* #conhecimentos {
  background: var(--black);
} */

.knowledges-title-container {
  display: flex;
  /* align-items: end; */
  flex-direction: column;
  justify-content: start;
  flex: 1;
  gap: 1rem;
  color: var(--text);
}

.knowledges-text-container p, .knowledges-text-container li {
  font-family: 'VT323-Regular';
  font-size: 1.4rem;
  /* text-align: end; */
  margin-bottom: 1rem; 
}

.knowledges-text-container li::after {
  content: ' ';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 0.5rem;
  background: var(--primary);
}

.knowledges-image-container {
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient( to right, var(--primary), transparent ) 70 1%;
}

.knowledges-image-container img {
  width: 10rem;
  height: 12rem;
  transition: all .5s;
}

.knowledges-cards-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient( to left, var(--primary), transparent ) 70 1%;
}

.knowledges-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.knowledges-card-title {
  color: var(--primary);
  font-size: 0.8rem;
  padding: 1rem 0rem;
}

.card-elements {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: blue; */
}

.card-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100px;
}

.card-item img {
  width: 5rem;
}

.card-item h4 {
  opacity: 0;
  color: var(--text);
  font-size: 1.2rem;
  font-family: 'VT323-Regular'
}

.card-item:hover h4 {
  opacity: 1;
}


@media only screen and (min-width: 640px) {
  .knowledges-title-container {
    align-items: end;
    padding: 1rem;
  }

  .knowledges-text-container p, .knowledges-text-container li {
    text-align: end;
  }


  .knowledges-image-container img {
    width: 18rem;
    height: 18rem;
  }
}

/* .container-conhecimentos  {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container-conhecimentos h2 {
  padding: 1rem;
}

.container-conhecimentos .container-cards {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--black-dark);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.card .card-title {
  color: var(--green);
  margin-top: 1rem;
  text-align: center;
}

.card .cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .card-item {
  width: 100px;
  height: 100px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: var(--black-dark);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-item h4 {
  margin-top: 1rem;
  color: var(--green);
  opacity: 0;
}

.card-item:hover h4{
  opacity: 1;
} */